<div class="row"  *ngFor="let i of annonces">
    <div class="col-md-4"> 
        <!-- Widget: user widget style 1 -->
        <div class="box box-widget widget-user-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-yellow">
            <!-- /.widget-user-image -->
            <h3 class="widget-user-username">{{i.field.nom}} {{i.field.prenom}}</h3>
            <h5 class="widget-user-desc">{{i.field.profil}}</h5>
            </div>
            <div class="box-footer no-padding">
            <ul class="nav nav-stacked">
                <li>
                    <ul>{{i.titre}}</ul>
                </li>
            </ul>
            </div>
        </div>
    </div>
</div>
