<ng-template #dialog1>
  <h2 matDialogTitle>Bingo !</h2>
  <p matDialogContent> {{alertinscrit1}}</p>
  <mat-dialog-actions align='end'>
    <button mat-button matDialogClose>Ok</button>
  </mat-dialog-actions>
</ng-template>
<ng-template #dialog2>
        <h2 matDialogTitle>Attention !</h2>
        <p matDialogContent> {{alertinscrit2}}</p>
        <mat-dialog-actions align='end'>
          <button mat-button matDialogClose>Ok</button>
        </mat-dialog-actions>
      </ng-template>
<div class="container">
    <div class="row">
    	<div class="col-md-4 col-md-offset-4">
    		<div class="panel panel-default">
			  	<div class="panel-body">
			    	<form accept-charset="UTF-8" role="form" style="border: black 5px;">
            <fieldset>
                <div class="form-group">
                    <label >Nom</label>
                              <input class="form-control" placeholder="Nom" type="text" [(ngModel)]="nomA" [ngModelOptions]="{standalone: true}">
                    <p class="alert-danger" *ngIf="errorMessageNomA!=''">{{errorMessageNomA}}</p>
                            </div>
                            <div class="form-group">
                    <label for="inputEmail4">Prenom</label>
                                <input class="form-control" placeholder="Prenom" type="text" [(ngModel)]="prenomA" [ngModelOptions]="{standalone: true}">
                    <p class="alert-danger" *ngIf="errorMessagePrenomA!=''">{{errorMessagePrenomA}}</p>
                            </div>
                  <div class="form-group">
                    <label for="inputEmail4">Email</label>
                              <input class="form-control" placeholder="Email" type="text" [(ngModel)]="emailA" [ngModelOptions]="{standalone: true}">
                    <p class="alert-danger" *ngIf="errorMessageEmailA!=''">{{errorMessageEmailA}}</p>
                            </div>
                            <div class="form-group">
                    <label for="inputPassword4">Password</label>
                                <input class="form-control" placeholder="Password" type="password" [(ngModel)]="passwordA" [ngModelOptions]="{standalone: true}">
                    <p class="alert-danger" *ngIf="errorMessagePasswordA!=''">{{errorMessagePasswordA}}</p>
                            </div>
                  <div class="form-group">
                    <label for="inputPassword4">Confirmation du password</label>
                              <input class="form-control" placeholder="Confirmation du password" type="password" [(ngModel)]="passwordcoA" [ngModelOptions]="{standalone: true}">
                    <p class="alert-danger" *ngIf="errorMessagePasswordCoA!=''">{{errorMessagePasswordCoA}}</p>
                            </div>
                    <div class="form-group">
                    <label for="select" class="col-lg-2">Profil</label>
                      <div class="col-lg-7">
                         <input class="form-control" type="text" [(ngModel)]="profilA" [ngModelOptions]="{standalone: true}" disabled>
                      </div>
                      <br/>
                      <br/>
                    </div>
            </fieldset>
        </form>
        <input class="btn btn-lg btn-success btn-block" type="submit" value="Add" (click)="ajouter()">
        <input class="btn btn-lg btn-facebook btn-block" type="submit" value="Cancel" (click)="annuler()">
      </div>
  </div>
</div>
</div>
</div>